body{
    margin:0;
    font-family: Ubuntu;
    display: flex;
}

aside{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 48px;
    background: linear-gradient(to bottom left, yellow 15%, blue 100%);
}

aside a{
    margin: 8px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}

.col{
    display: flex;
    flex-direction: column;
    padding: 4px;
    flex: 20%;
}

.col img{
    width: 100%;
    flex-grow: 1;
    padding: 4px;
}
